
@{
    ViewBag.Title = "AccountRegisterPicker";
}

<h2>Quel est votre utilisation.</h2>

@Html.ActionLink(@Projet_Covoiturage.Ressources.langue.RegisterNewUser, "RegisterClient")
@Html.ActionLink(@Projet_Covoiturage.Ressources.langue.RegisterNewDriver, "RegisterChauffeur")