
@{
    ViewBag.Title = "AccountRegisterPicker";
}

<h2>Quel est votre utilisation.</h2>

@Html.ActionLink("S'inscrire comme nouveau client", "RegisterClient")
@Html.ActionLink("S'inscrire comme nouveau Chauffeur", "RegisterChauffeur")