@{
    ViewBag.Title = "Confirmation de l'e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Projet_Covoiturage.Ressources.langue.ConfirmEmail @Html.ActionLink(Projet_Covoiturage.Ressources.langue.ClickToLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
